* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Typo Round';
    src: url("../fonts/Typo_Round_Bold_Demo.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

#body {
    background-color: white;
    background-color: #c60b0e;
}

#hero {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../img/pizzazhero1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    position: relative;
}

#menu {
    background-color: #c60b0e;
    width: 15vw;
    height: 6vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 15px;
    font-size: 2em;
    color: white;
    box-shadow: 18px 20px 16px rgba(0, 0, 0, .9);
    font-family: "Montserrat";
    font-weight: 450;
}

#cartas {
    background-color: #c60b0e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3vw 0vw;
}

.box-cartas {
    text-align: center;
    margin: 0 auto;
}

.box-cartas h3 {
    background-color: white;
    width: 30vw;
    height: 5vw;
    line-height: 5vw;
    border-radius: 10px;
    border: 3px solid black;
    font-family: 'Typo Round', sans-serif;
}

.box-cartas p {
    background-color: white;
    width: 20vw;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    border: 3px solid black;
    border-top: none;
    padding: 15px;
    font-family: "Montserrat";
}


@media screen and (max-width: 850px) {

    #hero {
        background-position: center bottom;
    }

    #menu {
        width: 35vw;
        height: 10vh;
    }

    #cartas {
        grid-template-columns: repeat(1, 3fr);
        gap: 10vh;
        padding: 5vh 0vw;
        width: 100vw;
    }

    box-cartas {
        text-align: center;
    }

    .box-cartas h3 {
        width: 80vw;
        height: 10vh;
        line-height: 10vh;
        border-radius: 10px;
        border: 3px solid black;
    }

    .box-cartas p {
        width: 60vw;
        border-radius: 0px 0px 10px 10px;
        border: 3px solid black;
    }
}